/* <!--110550143 洪巧芸 第II次作業10/11
110550143 Ciao-Yun Hong The Second Homework 10/11--> */

body {
    background-color: black;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}
.top-nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 0; 
    height: 50px;
    z-index: 1000; 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: fixed;
    right: 30px; 
}
.buttons button {
    background-color: transparent; 
    color: white; 
    border: 1px solid white; 
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 15px; 
    font-weight: 900;
    font-family: Arial, sans-serif; 
    transition: color 0.3s, border-color 0.3s; 
}
.buttons button:hover {
    color: #ddd; 
    border-color: #ddd; 
}

h1 {
    font-family: Comic Black;
    font-weight: blod;
    font-size: 50px;
    margin-top: 35px;
    color: #f2f2f2;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    background-color: #333;
    border: 1px solid #444;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

th, td {
    border: 1px solid #555;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #444;
    font-weight: bold;
}

tr:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 5px;
    color: white;
}